<div id="cuerpo">

  <header>

    <div id="foto">

      <img src="../assets/myley.jpg" alt="Foto de un saxofon" title="foto de un saxofon">

    </div>

    <div id="nombre">
      Miley Cyrus
    </div>


  </header>

  <div id="contenido">
    <div id="selectores">
      <!--Biografia-->
      <div class="desplegable" id="desplegableBiografia">
        <div id="biografia" class="activador" (click)="activarBiografia()">
          Biografia
        </div>
        <div id="listabiografia" class="lista">

          <p>Miley Ray Cyrus (Franklin, Tennessee, 23 de noviembre de 1992),6​1​ nacida como Destiny Hope Cyrus, es una
            cantante y actriz estadounidense. Asimismo se dedica a causas humanitarias y al activismo en favor de los
            derechos del colectivo LGBT. Se hizo conocida en el año 2006 por interpretar el papel de Miley Stewart en la
            serie original de Disney Channel, Hannah Montana, nombre bajo el cual grabó la banda sonora de sus cuatro
            temporadas y protagonizó su primera película. Gracias a la franquicia se consagró como ídolo adolescente
            internacional.

            En 2007 firma con Hollywood Records para seguir su carrera como solista y lanza su álbum debut: Meet Miley
            Cyrus, publicado como un álbum doble, que alcanzó la posición número uno en Billboard 200.7​ Realizó la gira
            Best of Both Worlds Tour, que tuvo una gran demanda en los Estados Unidos. En febrero de 2008, la gira se
            convirtió en una película/concierto en 3D titulada Hannah Montana & Miley Cyrus: Best of Both Worlds
            Concert, su primera película con su nombre.

            En julio de 2008 lanzó su segundo álbum, Breakout, que se convirtió en un éxito comercial, pues ingresó en
            el puesto número uno de la lista Billboard 200. Comenzó su incursión en el cine como actriz de doblaje en
            Bolt, película animada de 2008, y ganó una nominación para el Globo de Oro a la mejor canción original por
            su interpretación del tema «I Thought I Lost You». En 2009, su papel como Miley Stewart/Hannah Montana llegó
            al cine en la película Hannah Montana: The Movie; la banda sonora de la película se dirigió a los mercados
            country y adult contemporary.

            Cyrus empezó a cultivar una imagen más adulta en 2009 tras el lanzamiento de su primer EP, The Time of Our
            Lives, con un sonido pop más comercial, y por el rodaje de la película de drama La última canción, estrenada
            en abril de 2010. En el EP se encuentra el sencillo «Party in the U.S.A.», que la convirtió en la primera
            adolescente en lograr la certificación de cuatro discos de platino en los Estados Unidos[cita requerida]. En
            junio de 2010 se puso a la venta su tercer álbum de estudio, Can't Be Tamed, en el que presentó un nuevo
            sonido dance pop. El vídeo musical y la letra del primer sencillo, «Can't Be Tamed», retrata una imagen más
            sexual de Cyrus, que provocó opiniones tanto positivas como negativas.8​ Cyrus fue clasificada en la
            posición 13 en la lista de Forbes: Celebrity 100 en 2010,9​ y en 2014, fue elegida como la décima séptima
            celebridad más poderosa.10​ El álbum fue promocionado con una gira en 2011 llamada Gypsy Heart Tour, que
            visitó Latinoamérica, Asia y Oceanía sin abarcar Estados Unidos.11​ Al finalizar la gira, logró recaudar 28
            millones de dólares en veintiún fechas, lo que la colocó en el puesto número 2 de la lista Hot Tours de la
            revista Billboard.12​

            En 2012 participó en el álbum recopilatorio en tributo a Bob Dylan Chimes of Freedom: The Songs of Bob Dylan
            Honoring 50 Years of Amnesty International con la canción «You're Gonna Make Me Lonesome When You Go», la
            cual fue prenominada a los Premios Grammy de 2013.13​ El 4 de mayo de 2012, se estrenó en 105 salas de cine
            de los Estados Unidos LOL, comedia que protagonizó junto a Demi Moore, la cual logró recaudar $51 500
            dólares en Estados Unidos y más de 28 millones en el mundo.

            El 3 de junio de 2013, la compañía discográfica RCA Records publicó «We Can't Stop» como el primer sencillo
            de su cuarto álbum de estudio, Bangerz, al igual que «Wrecking Ball», que se convirtió en el primer sencillo
            de la cantante en alcanzar el puesto número 1 en la lista Billboard Hot 100.14​15​ Por su éxito en 2013, los
            canales MTV y ABC la nombraron la «artista del año».16​17​ En febrero de 2014 inició su tercera gira mundial
            denominada Bangerz Tour, cuya primera fecha tuvo lugar en Vancouver (Canadá). Además, gracias a los
            sencillos de esta etapa de la carrera de Cyrus, la cantante logró alzarse con varios galardones, donde
            destaca el premio al vídeo del año en los MTV Video Music Awards de 2014 gracias a «Wrecking Ball»,
            convirtiéndose así en la artista más joven en ganar dicho galardón. Además Bangerz recibió una nominación en
            los Premios Grammy de 2015 en la categoría mejor álbum de pop vocal.18​A finales de 2014 Cyrus fundó la
            Happy Hippie Foundation, una organización sin fines de lucro con la misión de luchar contra la injusticia y
            ayudar a los jóvenes sin hogar y al colectivo LGBT en los Estados Unidos.

            En agosto de 2015 Cyrus ejerció de anfitriona de la gala de los MTV Video Music Awards de ese año, actuando
            por sorpresa y presentando su álbum experimental Miley Cyrus & Her Dead Petz, un disco junto con la banda de
            rock psicodélico The Flaming Lips, siendo publicado de forma gratuita en Internet al finalizar la gala. Se
            trata de un proyecto apartado del contrato firmado por la artista con Sony Music. En diciembre de 2015 fue
            nombrada por la revista británica NME como una de las personas del año. En 2016 se confirmó la participación
            de Cyrus como protagonista de una nueva serie de televisión dirigida y coprotagonizada por el director y
            ganador del premio Óscar Woody Allen. Se trata de un proyecto junto con Amazon Studios. Asimismo, Cyrus tras
            su papel como asesor durante la undécima temporada del talent-show The Voice, fue confirmado que se uniría
            al programa una vez más en su decimotercera temporada como coach.
          </p>

        </div>
      </div>

      <!--Genero-->
      <div class="desplegable">
        <div id="genero" class="activador" (click)="activarGenero()">
          Genero
        </div>
        <div id="listagenero" class="lista">


          <div id="pop" class="item">
            Pop
          </div>


        </div>
      </div>

      <!--Canciones-->
      <div class="desplegable">
        <div id="canciones" class="activador" (click)="activarCancion()">
          Canciones
        </div>
        <div id="listaCanciones" class="lista">

          <div id="The climbe" class="item">
            The climb
          </div>

          <div id="Your always find a way back home" class="item">
            Your always find a way back home
          </div>

          <div id="Lets get crazy" class="item">
            Lets get crazy
          </div>

        </div>
      </div>

      <!--Albums-->
      <div class="desplegable">
        <div id="Albumes" class="activador" (click)="activarAlbum()">
          Albums
        </div>
        <div id="listaAlbums" class="lista">

          <div id="The climbe" class="item">
            HM the movie
          </div>

          <div id="Miley Cyrus" class="item">
              Miley Cyrus
          </div>

          <div id="Lets get crazy" class="item">
            Lets get crazy
          </div>

        </div>
      </div>

    </div>
    <div id="boton">

      <a class="boton_personalizado" (click)="goBack()">Atras</a>

    </div>

  </div>




</div>